# PyCity Schools Analysis
to right in here double click. Select as Mark down then run

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
# Calculate the total number of unique schools
#first detemine the unique schools
unique = school_data_complete_df["school_name"].unique()
school_count = school_data_complete_df["school_name"].nunique()
print(f'The total number of schools is {school_count}.')

The total number of schools is 15.

In [8]:
#total Students
student_count = school_data_complete_df["Student ID"].count()
print(f'The total number of students is {student_count}.')

The total number of students is 39170.

In [16]:
#Total Budget is equal to the budget column for each unique school

#set index to school name
school_index_df = school_data_complete_df.set_index("school_name")

#now set unique budget to get each of the individual budgets per school as they are the same
uniquebudget = school_index_df["budget"].unique()

#find the sum of all the unique budgets
total_budget=sum(uniquebudget)


print(f'The total budget is ${total_budget}.')

The total budget is $24649428.

In [17]:
#find the avearge math score
average_math = school_data_complete_df["math_score"].mean()
print(f'The avearge math score is {average_math}.')

The avearge math score is 78.98537145774827.

In [18]:
#find the avearge reading score
average_read = school_data_complete_df["reading_score"].mean()
print(f'The avearge reading score is {average_read}.')

The avearge reading score is 81.87784018381414.

In [23]:
#passing math scores are greater than or equal to 70%
pass_math = school_data_complete_df[(school_data_complete_df["math_score"]>=70)].count()["student_name"]


#find percentage of students passing math
pass_math_percent = pass_math / float(student_count) * 100
print(f'The percentage of students passing math is {pass_math_percent}%.')

The percentage of students passing math is 74.9808526933878%.

In [24]:
#passing math scores are greater than or equal to 70%
pass_read = school_data_complete_df[(school_data_complete_df["reading_score"]>=70)].count()["student_name"]


#find percentage of students passing math
pass_read_percent = pass_read / float(student_count) * 100
print(f'The percentage of students passing reading is {pass_read_percent}%.')

The percentage of students passing reading is 85.80546336482001%.

In [27]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_read = school_data_complete_df[
    (school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_read /  float(student_count) * 100
print(f'The percentage of students that passed both math and reading is {overall_passing_rate}%.')

The percentage of students that passed both math and reading is 65.17232575950983%.